/* COMMON.SCSS
- Handles common styles across the site for things like fonts, colors, and icons
*/

// FONTS ///////////
$font-source-sans-pro: "source-sans-pro", sans-serif;
$font-museo-sans: "myriad-pro", helvetica, arial, sans-serif;

// COLORS //////////
$lime  : #C0FF00;
$black : #000;
$white : #FFF;

// EASING //////////
$ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$ease-out-circ: cubic-bezier(0.075, 0.820, 0.165, 1.000);

// SPACING /////////
$padding: 30px;