/* COMMON.SCSS
- Handles common styles across the site for things like fonts, colors, and icons
*/

// FONTS ///////////
$font-source-sans-pro: "source-sans-pro", sans-serif;

// COLORS //////////
$lime  : #C0FF00;
$black : #000;
$white : #FFF;

// ICONS ///////////
