@import '_common';

@media screen and (max-width: 1440px) {  // 3-up grid
	#container {
		#about-details {
			.column {
				width: 33.33%;
			}
			#source {
				position: absolute;
				right: 0%;
				width: 20%;
			}
		}
	}
}

@media screen and (max-width: 960px) {  // 2-up grid
	#container {
		#about-details {
			.column {
				width: 50%;
			}
			#source {
				position: static;
			}
			#resume {
				span {
		            display: inline-block;
		            margin-left: 130px;
		        }
			}
			.fc-icon-logo-rotated {
				top: 54px;
			}
		}
		.project-details {
			.awards {
				clear: both;
				margin-top: $padding;
			}
		}
		#grid.about-active {
            padding-top: 183px;
        }
        .item-link {
        	p {
        		line-height: 20px;
        	}
        }
		.about-animation {
	        height: 183px;
	        overflow: hidden;
	        &.ng-enter, &.ng-leave {
	            @include single-transition(height, 0.5s, $ease-out-quad);
	        }
	        &.ng-enter { height: 0px; }
	        &.ng-enter-active { height: 183px; }
	        &.ng-leave { height: 183px; }
	        &.ng-leave-active { height: 0px; }
    	}
	    .project-animation {
	        max-height: 700px;
	        &.ng-enter, &.ng-leave {
	            @include single-transition(max-height, 0.5s, $ease-out-quad);
	        }
	        &.ng-enter { max-height: 0px; }
	        &.ng-enter-active { max-height: 700px; }
	        &.ng-leave { max-height: 700px; }
	        &.ng-leave-active { max-height: 0px; }
	    }
	}
}

@media screen and (max-width: 620px) { // random size for style adjustments in between 2-up and 1-up grid
	#container {
		#about-details {
			.fc-icon-logo-rotated { display: none; }
			.column {
				float: none;
				width: 100%;
				padding-top: $padding;
				span {
					margin-left: 0 !important;
					padding-left: $padding;
				}
				&#contact a {
					margin-left: $padding;
				}
			}
			#resume, #source {
				float: left;
				width: 50%;
			}
			#source span {
				padding-left: 0;
			}
		}
		#grid.about-active {
            padding-top: 270px;
        }
		.about-animation {
	        height: 270px;
	        overflow: hidden;
	        &.ng-enter, &.ng-leave {
	            @include single-transition(height, 0.5s, $ease-out-quad);
	        }
	        &.ng-enter { height: 0px; }
	        &.ng-enter-active { height: 270px; }
	        &.ng-leave { height: 270px; }
	        &.ng-leave-active { height: 0px; }
    	}
	    .project-details {
	    	.alpha, .omega {
	    		float: none;
	    		width: 100%;
	    		.project-details-inner {
	    			padding: $padding;
	    		}
	    	}
	    	.omega .project-details-inner {
	    		padding-top: 0;
	    	}
	    }
	    .project-animation {
	        max-height: 900px;
	        &.ng-enter, &.ng-leave {
	            @include single-transition(max-height, 0.5s, $ease-out-quad);
	        }
	        &.ng-enter { max-height: 0px; }
	        &.ng-enter-active { max-height: 900px; }
	        &.ng-leave { max-height: 900px; }
	        &.ng-leave-active { max-height: 0px; }
	    }
	}
}

@media screen and (max-width: 321px) { // 1-up grid
	#container {
		.project-details {
			.company {
				clear: both;
				margin-top: $padding;
			}
		}
	}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { // retina displays
	body, #about-details {
		background: url(/images/background_@2X.png) repeat #000 !important;
		background-size: 50% 50% !important;
	}
	#container {
	    .grid-project {
	    	.selected-tip {
	    		background: url(/images/selected_@2X.png) no-repeat;
	    		background-size: 111px 66px !important;
	    	}
	    }
	}
}