/* MAIN.SCSS
- Overall styles for the site
*/

@import '_mixins';
@import '_common';

#grid {
	@include size(inherit, inherit);
	.grid-row {
		height: 100%;
	}
	.grid-item {
		height: 100%;
		background-size: cover;
		float: left;
		cursor: pointer;
	}
	&.four-up {
		.grid-item { width: 25%; }
	}
	&.three-up {
		.grid-item { width: 33.333%; }
	}
	&.two-up {
		.grid-item { width: 50%; }
	}
	&.one-up {
		.grid-item { width: 100%; }
	}
}