/* MAIN.SCSS
- Overall styles for the site
*/

@import '_mixins';
@import '_common';
@import "compass/css3/transition";
@import "compass/css3/box-sizing";

#grid {
	@include size(inherit, inherit);
	.grid-row {
		height: 100%;
	}
	.grid-item {
		@include box-sizing("border-box");
		height: 100%;
		background-size: cover;
		float: left;
		cursor: pointer;
	}
	&.four-up {
		.grid-item { width: 25%; }
	}
	&.three-up {
		.grid-item { width: 33.333%; }
	}
	&.two-up {
		.grid-item { width: 50%; }
	}
	&.one-up {
		.grid-item { width: 100%; }
	}
	.item-link {
		@include size(100%, 100%);
		display: block;
	}
	.project-details {
		@include single-transition(max-height, 0.5s, $ease-out-quad);
		max-height: 0;
		overflow: hidden;
		&.open {
			max-height: 500px;
		}
	}
}