/* MAIN.SCSS
- Overall styles for the site
*/

// IMPORTS ///////////////
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import '_mixins';
@import '_common';
@import '_fontcustom';

// BODY & CONTAINER //////
html, body { @include size(100%, 100%); padding: 0; margin: 0; }
body {
    @include font($family: $font-source-sans-pro, $color: $white);
    background: url(/images/background.png) repeat #000;
    background-color: $white;
}
#container {
    @include size(inherit, inherit);
}

// GLOBAL ///////////////
::selection {
    color: $lime;
    background: $black;
}
::-moz-selection {
    color: $lime;
    background: $black;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: $black;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: $lime;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: $lime;
}
.alpha, .omega {
    width: 50%;
}
.alpha { float: left; }
.omega { float: right; }
.close-button {
    cursor: pointer;
    &:hover {
        .fc-icon-close {
            @include font($color: $lime);
            @include scale(-1,1);
        }
    }
}

// ICONS /////////////////
.fc-icon {
    @include font($size: 54px, $color: #FFF);
    display: inline-block;
}
.fc-icon-logo-rotated {
    //@include position-absolute($top: 3px, $left: 3px, $z-index: 1);
}
.fc-icon-close {
    @include single-transition(all, 0.2s, $ease-out-quad);
    @include scale(1,1);
    @include font($size: 47px);
}
.fc-icon-plus {
    @include font($color: #000, $size: 32px);
}

// GRID //////////////////
#grid {
    @include size(inherit, inherit);
    position: relative;
    .grid-project {
        position: relative;
        z-index: 1;
        &.active {
            z-index: 2;
        }
    }
    &.four-up {
        .grid-project { width: 25%; }
    }
    &.three-up {
        .grid-project { width: 33.333%; }
    }
    &.two-up {
        .grid-project { width: 50%; }
    }
    &.one-up {
        .grid-project { width: 100%; }
    }
}
.grid-row-container {
    @include position-relative($z-index: 1);
    &.active {
        z-index: 2;
    }
    .grid-row {
        height: 100%;
    }
}

// GRID ITEM //////////////////
.grid-project {
    height: 100%;
    background-size: cover;
    float: left;
    z-index: 1;
    .selected-container {
        @include size($width: 100%, $height: 100%);
        position: absolute;
        overflow: hidden;
    }
    .selected-tip {
        @include single-transition(bottom, 0.25s, $ease-out-quad);
        @include position-absolute($bottom: -34px, $left: 50%, $z-index: 3);
        @include size-centered(68px, 34px);
        background: url(/images/selected.png) no-repeat;
    }
    &.animate {
        z-index: 2;
    }
    &.selected {
        .item-link {
            cursor: default;
        }
        .gradient, .info {
            opacity: 0 !important;
        }
        .more-info:before, .fc-icon-plus {
            right: -100px !important;
            bottom: -100px !important;
        }
        .selected-tip {
            bottom: 0px;
        }
    }
}
.item-link {
    @include position-absolute($z-index: 1);
    @include size(100%, 100%);
    display: block;
    overflow: hidden;
    .gradient {
        @include single-transition(opacity, 0.15s, linear);
        @include background-image(linear-gradient(transparent 50%, #000 100%));
        @include size(100%, 100%);
        @include position-absolute($z-index: 1);
        opacity: 0;
    }
    .info {
        @include single-transition(opacity, 0.15s, linear);
        @include position-absolute($bottom: 0, $z-index: 2);
        @include font($color: #FFF);
        padding: 0 100px $padding $padding;
        opacity: 0;
        .title {
            @include font($size: 24px);
            display: block;
            margin-bottom: 5px;
        }
        .client {
            @include font($size: 12px, $color: #CCC);
        }
        p {
            @include font($size: 14px);
            margin: 0;
        }
    }
    .more-info {
        .fc-icon-plus {
            @include transition(bottom 0.25s $ease-out-quad, right 0.25s $ease-out-quad);
            @include position-absolute($bottom: -100px, $right: -100px, $z-index: 3);
        }
        &:before {
            @include single-transition(all, 0.15s, $ease-out-quad);
            @include position-absolute($right: -100px, $bottom: -100px, $z-index: 2);
            border-right: 100px solid $lime;
            border-top: 100px solid transparent;
            width: 0;
            content: '';
        }
        &:hover {
            &:before {
                border-right: 100px solid $black;
            }
            .fc-icon-plus {
                color: #FFF;
            }
        }
    }
    &:hover, &:focus {
        .gradient, .info {
            opacity: 0.95;
        }
        .more-info:before {
            @include position-absolute($right: 0px, $bottom: 0px);
        }
        .fc-icon-plus {
            bottom: 10px;
            right: 12px;
        }
    }
}
.item-content {
    position: relative;
}

// ITEM CUBE ////////////////
.item-content, .item-cube-container, .item-cube, .item-cube .side {
    @include size(100%, 100%);
}
.item-cube-container {
    @include perspective(600px);
}
.item-cube {
    @include transform-style(preserve-3d);
    position: relative;
    .item-image {
        @include size(100%, 100%);
        background-size: cover;
    }
    img {
        @include size(1px, 1px);
        visibility: hidden;
        display: block;
        overflow: hidden;
    }
    .side {
        position: absolute;
        @include backface-visibility(hidden);
        &.one { z-index: 2; }
        &.two { z-index: 1; }
    }
    &.animate {
        @include enable-fast-image-rendering();
        .side {
            @include enable-fast-image-rendering();
        }
    }
}

// PROJECT ///////////////////
.project-details {
    overflow: hidden;
    position: relative;
    .alpha, .omega {
        padding: $padding;
    }
    p {
        @include font($size: 16px, $line-height: 32px);
    }
    h1 {
        @include font($color: $lime, $weight: normal);
        margin: 0 0 15px;
    }
    .close-button {
        @include position-absolute($top: $padding, $right: $padding);
    }
}

// LOGO //////////////////////
#logo {
    @include position-fixed($z-index: 3);
    cursor: pointer;
    a {
        &:before {
            @include position-absolute($top: 0, $left: 0);
            border-top: 100px solid $black;
            border-right: 100px solid transparent;
            width: 0;
            content: '';
        }
        &:hover {
            &:before {
                border-top: 100px solid $lime;
            }
            .fc-icon {
                color: $black;
            }
        }
    }
    .fc-icon-logo-rotated {
        @include position-absolute($top: 3px, $left: 3px, $z-index: 1);
    }
}

// ABOUT ////////////////////

#about-details {
    .close-button {
        @include position-absolute($right: $padding);
        margin-top: 12px;
    }
    .fc-icon-logo-rotated {
        @include position-absolute();
        font-size: 74px;
    }
    .column {
        width: 25%;
        float: left;
    }
}

// ANIMATIONS ////////////////
// TODO: create mixin for angular animations?
.csstransitions {
    .about-animation {
        height: 120px;
        overflow: hidden;
        &.ng-enter, &.ng-leave {
            @include single-transition(height, 0.5s, $ease-out-quad);
        }
        &.ng-enter { height: 0px; }
        &.ng-enter-active { height: 120px; }
        &.ng-leave { height: 120px; }
        &.ng-leave-active { height: 0px; }
    }

    .project-animation {
        max-height: 500px;
        &.ng-enter, &.ng-leave {
            @include single-transition(max-height, 0.5s, $ease-out-quad);
        }
        &.ng-enter { max-height: 0px; }
        &.ng-enter-active { max-height: 500px; }
        &.ng-leave { max-height: 500px; }
        &.ng-leave-active { max-height: 0px; }
    }

    .logo-animation {
        top: 0;
        left: 0;
        &.ng-enter, &.ng-leave {
            @include single-transition(top, 0.25s, $ease-out-quad);
            @include single-transition(left, 0.25s, $ease-out-quad);
        }
        &.ng-enter { top: -50px; left: -50px; }
        &.ng-enter-active { top: 0; left: 0; }
        &.ng-leave { top: 0; left: 0; }
        &.ng-leave-active { top: -50px; left: -50px; }
    }
}