<div id="grid" grid-resize class="{{gridClass(itemsPerRow)}}">
	<div class="grid-row-container" ng-repeat="row in rows track by $index">
		<div class="grid-row" grid-row-directive data-row-height="{{rowHeight}}">
			<div class="grid-item" data-index="{{$index}}" ng-repeat="item in items | filter:{row: $index}" item-directive data-image="{{item.images.small[0]}}">
		  		<a class="item-link" ui-sref="index.project({projectId: item.id})"></a>
		  	</div>
		 </div>
		 <div class="project-details" ng-class="projectDetailsConditional($index) ? 'open' : ''">
		 	<div ng-if="projectDetailsConditional($index)">
		 		ProjectID: {{projectData.projectId}}<br/>
		 		Row: {{$index+1}}<br/><br/><br/><br/><br/><br/><br/><br/><br/>
		 	</div>
		 </div>
	 </div>
</div>