
<div id="about-details" class="about-animation" ng-if="about().active" ng-include="templates.about"></div>
<div id="logo" class="logo-animation" ng-if="!about().active">
	<a ng-click="about().active = !about().active"></a>
</div>
<div id="grid" grid grid-resize class="{{gridClass(grid.projectsPerRow)}}">
	<div class="grid-row-container" ng-repeat="row in grid.rows track by $index">
		<div class="grid-row" grid-row-directive data-row-height="{{rowHeight}}">
			<div class="grid-project" ng-repeat="project in projects | filter:{row: $index}" grid-project ng-class="{active : project.cube.transition, selected : project.selected}" ng-include="templates.item" data-index="{{$index}}"></div>
		 </div>
		 <div class="project-details project-animation" ng-if="projectDetails.row == $index">
		 	<a class="close" ui-sref="index.grid">CLOSE</a>
		 	<div class="alpha">
		 		<h1>{{projectDetails.title}}</h1>
		 		<p>{{projectDetails.description}}</p>
		 	</div>
		 	<div class="omega">

		 	</div>
		 </div>
	 </div>
</div>