<div class="item-content" ng-controller="ItemCtrl" ng-class="{loaded : project.cube.firstLoad}">
	<div class="selected-container">
		<div class="selected-tip"></div>
	</div>
	<a class="item-link" ng-mouseenter="onMouseOver()" ng-mouseleave="onMouseOut()" ui-sref="index.project({id: project.id})">
		<div class="info">
			<span class="title">{{project.title}}</span>
			<span class="client" ng-if="project.client">Client: {{project.client}}</span>
			<p>{{project.descriptionShort}}</p>
		</div>
		<div class="more-info"><i class="fc-icon fc-icon-plus"></i></div>
		<div class="gradient"></div>
	</a>
	<div class="item-cube-container">
		<div class="item-cube" cube>
			<div class="side one" cube-side></div>
			<div class="side two" cube-side></div>
		</div>
	</div>
</div>